body {
  overflow: hidden;
}

.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  border: none;
  border-radius: 10px;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border: 1px solid;
  font-size: 16px;
  margin: 8px;
  cursor: pointer;
}

.button--green {
  background-color: #4CAF50;
  border-color: #4CAF50;
  color: white;
}

.button--outline-grey {
  border-color: #6c757d;
  color: #6c757d;
  background: transparent;
}

.button:hover {
  filter:brightness(110%);
}

.button--outline-grey:hover {
  color: white;
  background: #6c757d;
}

.popup {
  position: absolute;
  box-shadow: 1px 1px 6px 0 rgba(0,0,0,.09);
  padding: 50px 100px;
  border-radius: 25px;
  font-size: 20px;
  color: #6c757d;
  border: 2px solid #D3D3D3;  
}

.popup--top-right {
  top: 10px;
  right: 5px;
  transform: translateX(100%);
}

.popup--bottom-right {
  bottom: 10px;
  right: 5px;
  transform: translateX(100%);
}

.animation--slide-in {
    opacity: 1;
    transform: translateX(0%);
    transition: transform 0.7s;
}